.bg{
    background-color:#316dc3;
   
    
    
    
}
.text1{
    color: white;
}
ul {
    list-style-type: none;
   
}

li{
    display: inline;
    padding: 10px;
    text-decoration: none;
}




a{
    color: black;
    padding: 5px;
}
li a:hover {
    background-color: #326cc4;
    border-radius: 50px;
    padding: 8px;
    color: white;
  }
  .bannerline{
    background-color:#316dc3;
    color: white;
  }
  .total{
      background-color: #2755e9;
      padding: 10px;    
  }
 
 
  .div1 {
    width: 300px;
    height: 100px;
   
  }
  
  .div2 {
    width: 300px;
    height: 100px;
    
  }

h3{
    color: #2755e9;
    padding-left: 50px;
}
.border{
    padding:50px;
    
   }
   .material-icons{
       color: green;
       padding: 5px;
   }
   .col-sm-2{
      background-color:#24272e;
      color: white;
     
     
   }
   .col-sm-5{
    background-color:#24272e;
    color: white;
   
   
 }
 .hdoffice{
     padding-left: 5px;
     color: grey;
 }
 .last{
     background-color: cornflowerblue;
     color: white;
     margin: 1px;
     padding: 5px;
     font-size: 12px;
 }
  .background{
      background-color: #326cc4;
      color: white;
      text-align: center;
      
      flex-wrap: wrap;

  }
 .col-sm-8, .col-sm {
     display: flex;
     flex-direction: row;
     justify-content:;
     flex-wrap: wrap;
     
 
 }
 .topnav {
    background-color:transparent;
    overflow: hidden;
    
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
   
  }
  
  .topnav a:hover {
    border-bottom: 3px solid blue;
  }
  
  .topnav a.active {
    border-bottom: 3px solid blue;
  }
.align{
    display: flex;
}

